.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5e4485;
    color: #fff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #5e4485
}
.navbar-inverse .navbar-nav li a{
    color: #d5d5d5
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.btn {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: #5e4485;
    border: 2px solid #fff;
}
.btn:hover{
    color: #5e4485;
    background-color: #fff;
    border: 2px solid #5e4485;
}
.container{
    margin: 4% auto;
}
#icon{
    max-width: 120px;
    margin: 1% auto;
}
@media (max-width: 780px){
    .carousel-caption{
        display: none;
    }
    #icon{
        max-width: 120px;
    }
    h4{
        font-size: 1.5em;
    }
}